/* Search box stolen from http://forrst.com/posts/Fancy_search_box_using_Bootstrap_2_0-dG0 */
.input-append button.add-on {
    height: inherit !important;
}

.search-modal {
	font-size: 24px;
}

.bigModal{
   width:940px;
   margin-left:-470px;
}

.inputModal{
   width:650px;
   margin-left:-325px;
}